<div class="container show mt-3">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <%= simple_form_for [@food_stall, @menu] do |f| %>
      <%= f.label 'Add all the dishes to the menu.' %>
      <%= f.association :food_item, collection: FoodItem.all, label_method: lambda { |item| "#{item.food_category.name.capitalize} - #{item.name.capitalize}" } %>
      <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>



