<div class="container menu pt-3">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <h2 class="title"><%= @food_stall.name %></h2>
      <h2>Popular Food</h2>
      <% if @food_stall.popular_foods.present? %>
        <% @food_stall.popular_foods.each do |food, likes| %>
            <h1><%= food %> <i><%= likes %> likes</i></h1>
          <% end %>
      <% else %>
        <h1>Nothing here yet...</h1>
      <% end %>

    </div>
  </div>
</div>
