<div class="container show mt-3">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">

<h2 class="mt-5 mb-4">If you're at a food stall now, scan the Streety QR code to be taken to their menu.</h2>
<div class="text-center">
  <video id="video" width="100%" style="border: 2px solid #ADADAD; border-radius: 2px;"></video>
</div>
<!-- test -->
<!-- <label>Result:</label> -->
<div class="text-center mt-3 hidden-success" id="code-result">
  <i class="fas fa-check-circle" style="font-size: 42px !important; color: #01b240;"></i>
  <p style="font-size: 24px !important; color: #01b240;">Scan Successful!</p>
</div>

<!-- <pre><code id="code-result"></code></pre> -->

<%= content_for(:qr_code_reader) do %>
<%= javascript_pack_tag 'qr_code_reader' %>
<% end %>

    </div>
  </div>
</div>


