<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-sm-4 search_results">
      <h1>Search results for <%= params[:query]%></h1>
      <a href="#">Mexico City</a> > <a href="#">Tacos</a>

      <% @search_results.each do |result| %>

      <div class="search-card">
          <div class="d-flex justify-content-between">
            <div>
              <%= link_to result.name, food_stall_path(result) %> | <a href="">Tacos</a><br>
              <% result.rating.times do %>
                ⭐️
              <% end %>
               11 reviews
            </div>
            <p>0.3 mi</p>
          </div>
      <div>
      </div>
      <% end %>



    </div>

  </div>

</div>

