body {
  background-color: white;
}

h1 {
  // font-weight: bold;
  font-size: 24px;
}

footer {
  background-color: white;
}

a:link {
  color: black;
}


a:visited {
  color: black;
}

a:hover {
  text-decoration: none;
}
