#code-result {
  // font-size: 28px;
  padding: 8px;
  // background-color: #00a547;
  // background-color: #01b240;
  border-radius: 2px;
  // border: 1px solid black;
  font-color: #01b240;
}

.hidden-success {
  display: none;
}
