.food-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 15px;
}
.food-category a {
  text-decoration: none !important;
  color: white;
}
.cards {
  margin-top: 10px;
}


// .form-control::-moz-placeholder {
//   color: red;
// }
// .form-control:-ms-input-placeholder {
//   color: red;
// }
.placeholder-color::-webkit-input-placeholder {
  color: #2e89c5;
}
