<form action="/food_stalls/search_results" method="get" id="search_form" class="search-fields">
  <input type="text" class=" form-control" style="width: 90%; font-size: 13px; letter-spacing: -.5px; color: #767676;" name="query" placeholder="e.g. tacos, tortas" id="food_type">
  <input type="text" class="form-control mt-1" style="width: 90%; display: inline; font-size: 13px;letter-spacing: -.5px;color: #767676;" name="location" placeholder="address, neighborhood, city, state or zip" id="location-placeholder">
  <i class="fas fa-map-marker-alt" id="current-location" style="font-size: 17px; margin-left: 4px;"></i>
  <input type="submit" value="Search" class="btn search-button-styled mt-2 form-control" id="search-submit" >

</form>

  <!-- <p id="demo"></p> -->  <!-- this is for test to display coordinates -->





