<form action="/food_stalls/search_results" method="get" id="search_form">
  <input type="text" style="width: 250px;"name="location" placeholder="location" id="location-placeholder">
  <i class="far fa-compass" id="current-location"></i>
  <input type="text" class="mt-1" style="width: 250px;" name="query" placeholder="Type of food" id="food_type">
  <input type="submit" value="Go", class="btn mt-2" style="background-color: #EB6043; color: white; width: 100px; padding: 0px;">
</form>

  <p id="demo"></p>


