<form action="/food_stalls/search_results" method="get" id="search_form">
  <input type="text" class=" form-control" style="width: 90%; font-size: 12px;" name="query" placeholder="e.g. tacos, tortas" id="food_type">
  <input type="text" class="form-control mt-1" style="width: 90%; display: inline; font-size: 12px;"name="location" placeholder="address, neighborhood, city, state or zip" id="location-placeholder">
  <i class="far fa-compass" id="current-location" style="font-size: 20px; margin-left: 4px;"></i>
  <input type="submit" value="Search" class="btn mt-2 form-control" id="search-submit" style="background-color: #EB6043; color: white; width: 100px; padding: 0px;" >

</form>

  <p id="demo"></p>





