<div class="container">

  <div class="header">
    <h1>Find Delicious, Authentic Streetfood Nearby</h1>
  </div>

  <%= render 'shared/searchbar' %>

    <h5 style="text-align: center;">Most popular food stall near you</h5>

      <div class="food-stall-card">

          <img src="https://www.clickondetroit.com/resizer/kJoYV2odVRrX6m5T3KDiz3LhZqU=/720x405/smart/filters:format(jpeg):strip_exif(true):strip_icc(true):no_upscale(true):quality(65)/arc-anglerfish-arc2-prod-gmg.s3.amazonaws.com/public/KC6BN5TSH5GWPLMMIH4F3I4T24.jpg" class="food-stall-image" alt="">

        <div class="food-stall-card-info">
          <p>El Progresso</p>
          <p>4.2km away</p>
        </div>

      </div>
</div>

