<div class="container">

  <div class="header">
    <h1>Find Delicious, Authentic Streetfood Nearby</h1>
  </div>

  <%= render 'shared/searchbar' %>

    <h5 style="text-align: center;">Most popular food stall near you</h5>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://www.clickondetroit.com/resizer/kJoYV2odVRrX6m5T3KDiz3LhZqU=/720x405/smart/filters:format(jpeg):strip_exif(true):strip_icc(true):no_upscale(true):quality(65)/arc-anglerfish-arc2-prod-gmg.s3.amazonaws.com/public/KC6BN5TSH5GWPLMMIH4F3I4T24.jpg')">

      <div class="card-info">

        <div class="card-info-top">
          <img src="https://lewagon.s3.amazonaws.com/bookmarkorange.png" alt="" class="src">
        </div>

        <div class="card-info-middle">
          <h1>El Progresso</h1>
        </div>



        <div class="card-info-bottom">

          <div class="rating-section">
            <div class="rating">
              <img src="https://lewagon.s3.amazonaws.com/TacoOrange.png">
              <img src="https://lewagon.s3.amazonaws.com/TacoOrange.png">
              <img src="https://lewagon.s3.amazonaws.com/TacoOrange.png">
              <img src="https://lewagon.s3.amazonaws.com/TacoOrange.png">
              <img src="https://lewagon.s3.amazonaws.com/Tacowhite.png">
            </div>

            <p>(403 Reviews)</p>

          </div>

            <p style="font-size: 45px;">4.2km</p>

        </div>

      </div>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://lewagon.s3.amazonaws.com/orangestall.png)">
    <h1>Add A Stall</h1>
    </div>
</div>

