.search-button-styled {
  border-radius: 8px;
  padding: 4px 24px;
  // background-color: #EB6043;
  background-color: #FD6546;
  color: white;
  width: 90%;
}

// .search-button-styled:active: {
//   border-radius: 8px;
//   padding: 4px 24px;
//   // background-color: #EB6043;
//   background-color: #FD6546;
//   color: white;
//   width: 90%;
// }

// .search-button-styled:disabled {
//   border-radius: 8px;
//   padding: 4px 24px;
//   // background-color: #EB6043;
//   background-color: #FD6546;
//   color: white;
//   width: 90%;
// }

.search-button-styled:focus {
  border-radius: 8px;
  padding: 4px 24px;
  // background-color: #EB6043;
  background-color: #FD6546;
  color: white;
  width: 90%;
}

.secondary-button {
  // border: solid 1px black;
  padding: 4px 12px;
  border-radius: 8px;
  color: white;
  background-color: #fc4e4e;
  font-size: 14px;
}

.secondary-button:link {
  // border: solid 1px black;
  padding: 4px 12px;
  border-radius: 8px;
  color: white;
  background-color: #fc4e4e;
  font-size: 14px;
}

.secondary-button:visited {
  // border: solid 1px black;
  padding: 4px 12px;
  border-radius: 8px;
  color: white;
  background-color: #fc4e4e;
  font-size: 14px;
}

.home-search-button, .home-search-button:visited {
  border-radius: 8px;
  padding: 4px 24px;
  // background-color: #EB6043;
  background-color: #fd4e4e;
  color: white;
  width: 90%;
}
