#main-logo {
  display: inline;
  font-size: 22px;
  margin-left: 130px;
  margin-top: 8px;
  padding-left: 6px;
  padding-right: 6px;
  color: #376977;
  font-family: lato;
  font-weight: 700;
  letter-spacing: -1px;
}



#logo-homepage {
  display: block;
  font-size: 44px;
  margin-top: 140px;
  // color: #EE6123;
  color: #376977;
  font-family: lato;
  font-weight: 700;
  letter-spacing: -1px;
}
