.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
width: 160px;
padding-top: 8px;
}

.navbar-mg {
  margin-top: 6px;
  font-size: 23px;
  margin-right: 10px;
  // margin-top: 2px;
  // margin-bottom: 2px;
  // width: 45px;
  // height: 35px;
  // margin-right: 10px;
}

.navbar-menus {
  display: flex;
  justify-content: space-around;
}

.navbar {
  // border-bottom: 0.5px solid #e5e5e5;
}
